footer{
    position: absolute;
    font-family: "Monaco", monospace;
    top: 0;
    border-top: 1px solid var(--link-pink);
    width: 100%;
    max-height: 6rem;
    background: rgb(255,147,210);
    background: linear-gradient(180deg, rgba(255,147,210,1) 0%, rgba(255,213,237,1) 100%);
    line-height: 0.5;
}

footer img {
    height: 9rem;
}

footer .flex{
    height: 6rem;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fas, i, .fas::before, .column{
    color: var(--white);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    transition: 0.3s;

}
.fas:hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    cursor: pointer;
}

@media (max-width: 566px) {
    footer{
        bottom: 0;
        top:unset;
        border: none;
        border-top: 1px solid var(--link-pink);
    }
    img {
        display: none;
    }
}