footer{
    position: absolute;
    font-family: "Monaco", monospace;
    bottom: 0;
    background-color: var(--light-pink);
    border-top: 2px solid var(--link-pink);
    width: 100%;
    min-height: 3rem;    
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fas, i, .fas::before, .column{
    color: var(--main-pink);
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    transition: 0.3s;

}
.fas:hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    cursor: pointer;
}