.job-filters{
    font-size: 24px;   
    color: var(--main-pink);
}

.job-list{
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 6em;
    height: 70vh;
}

.job-skills{
    justify-content: flex-start;
    margin: 1rem 0rem
    
}

.job-preview{
    border-top: 1px solid var(--light-pink);
    padding: 20px 0;
}
