@import './base.css';
@import "./theme.css";
@import "./footer.css";

section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Monaco", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-pink);
  background-color: var(--bg);
  text-align: left;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: var(--main-pink);
  text-decoration: none;
  background-color: transparent;
}

h1 {
  color: var(--main-pink);
  text-align: center;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

h2,
h3,
h4,
h5 {
  color: var(--main-pink);
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

html {
  height: -webkit-fill-available; 
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

p{
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-pink);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-pink);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-pink);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-pink);
}