footer{
    position: absolute;
    bottom: 0;
    background-color: var(--link-pink);
    border-top: 1px solid var(--main-pink);
    width: 100%;
    min-height: 3rem;    
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.fas, i, .fas::before{
    color: var(--main-pink);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900;
    transition: 0.3s;

}
.fas:hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    cursor: pointer;
}